body {
	width: 70%;
	font-family: cursive;
	display: flex;
	flex-wrap: wrap;
	float: right;
}
header {
	width: inherit;
	position: relative;
	height: 90%;
}
.author {
	float:right;
	text-transform: uppercase;
}

.author > h4{
	float:right;
	margin-top:inherit;
}
.logo > img {
	width: 10%;
}

.logo {
	width : 100%;
	margin-top:3%;
}
.main-project-container {
	width: inherit;
	margin-top: auto;
}
.main-body-container {
	width: inherit;
}
.project {
	width: inherit;
	float: right;
	background-color: green;
}
.project-info {
	width: inherit;
}
.featured {
	float: left;
}
.center-image {
    margin-top: 2%;
    width: 100%;
}
.center-image > img {
	width: 100%;
}
hr {
	border: 2px solid darkgray;
	width: 100%;
}
