body {
	font-family: cursive;
	margin: 0 auto;
	min-width: 20%;
	max-width: 60%;
	/* background-color: blue; */
}
header {
	width: 100%;
}
.author {
	float:right;
	text-transform: uppercase;
}

.author > h4{
	float:right;
	margin-top:0%;
	margin-bottom: 5%;
	font-size: 30%;
}

.author > h1{
	font-size: 50%;
	margin-bottom: 0%;
}
.logo {
	width: 30%;
	float: left;
	order: 1;
	margin-top: 2%;
	margin-bottom: 1%;
	/* background-color: aquamarine; */
}

.logo > img {
	width: 30%;
	margin: 0% auto  auto;
	float: left;
}

.main-project-container {
	width: 100%;
}

.project.info {
	overflow-wrap: break-word;
}
.project > img {
	width: 100%;
}

.project > p {
	text-align: center;
	margin:1%;
	font-size: xx-small;
}

.project > h2 {
	text-align: center;
	margin:1%;
	font-size:large;
	text-transform:uppercase;
}

.featured.works > h2{
	text-align:left;
	font-size: larger;
}

.featured {
	float: left;
	width: 100%;
	order: 2;
}

.portfolio-image {
    margin-top: 3%;
    width: 100%;
    /*background-color: bisque;*/
}
.portfolio-image > img {
	width: 100%;
}
hr {
	border: 2px solid #7d97ad;
	width: 99.5%;
}

@media only screen and (min-width: 500px) {
	body {
		font-family: cursive;
		margin: 0 auto;
		min-width: 20%;
		max-width: 60%;
		/* background-color: blue; */
	}

	header {
		width: 100%;
	}

	.author {
		float:right;
		text-transform: uppercase;
	}

	.author > h4 {
		float:right;
		margin-top:0%;
		margin-bottom: 5%;
		font-size: 30%;
	}

	.author > h1 {
		font-size: 70%;
		margin-bottom: 0%;
	}

	.logo {
		width: 30%;
		float: left;
		order: 1;
		margin-top: 2%;
		margin-bottom: 1%;
		/* background-color: aquamarine; */
	}

	.logo > img {
		width: 30%;
		margin: 0% auto  auto;
		float: left;
	}

	.main-project-container {
		width: 100%;
	}

	.project.info {
		overflow-wrap: break-word;
	}
	.project > img {
		width: 100%;
	}

	.project > p {
		text-align: center;
		margin:1%;
		font-size: xx-small;
	}

	.project > h2 {
		text-align: center;
		margin:1%;
		font-size:large;
		text-transform:uppercase;
	}

	.featured.works > h2{
		text-align:left;
		font-size: larger;
	}

	.featured {
		float: left;
		width: 100%;
		order: 2;
	}


	.portfolio-image {
	    margin-top: 3%;
	    width: 100%;
	    /*background-color: bisque;*/
	}

	.portfolio-image > img {
		width: 100%;
	}

	hr {
		border: 2px solid #7d97ad;
		width: 99.5%;
	}
}


@media only screen and (min-width: 800px) {
	body {
		font-family: cursive;
		margin: 0 auto;
		min-width: 20%;
		max-width: 60%;
		/* background-color: blue; */
	}

	header {
		width: 100%;
	}

	.author {
		float:right;
		text-transform: uppercase;
	}

	.author > h4{
		float:right;
		margin-top:0%;
		margin-bottom: 5%;
		font-size: medium;
	}

	.author > h1{
		font-size: x-large;
		margin-bottom: 0%;
	}
	.logo {
		width: 30%;
		float: left;
		margin-bottom:1%;
		margin-top:1%;
		/* background-color: aquamarine; */
	}

	.logo > img {
		width: 30%;
		margin: 8% auto auto auto;
		float: left;
	}

	.main-project-container {
		width: 100%;
	}

	.project > img {
		width: 100%;
	}

	.project > p {
		text-align: center;
		margin:1%;
		font-size:small;
	}

	.project > h2 {
		text-align: center;
		margin:1%;
		font-size:large;
		text-transform:uppercase;
	}

	.project.info {
		overflow-wrap: break-word;
	}

	.featured.works > h2{
		text-align:left;
		font-size: larger;
	}
	.featured {
		float: left;
		width: 100%;
		order: 2;
	}

	.portfolio-image {
	    margin-top: 3%;
	    width: 100%;
	    /*background-color: bisque;*/
	}
	.portfolio-image > img {
		width: 100%;
	}

	hr {
		border: 2px solid #7d97ad;
		width: 99.5%;
	}
}

@media only screen and (min-width: 1300px) {
	body {
		font-family: cursive;
		margin: 0 auto;
		min-width: 20%;
		max-width: 60%;
		/* background-color: blue; */
	}
	header {
		width: 100%;
	}
	.author {
		float:right;
		text-transform: uppercase;
		margin-top: 4%;
	}

	.author > h4{
		float:right;
		margin-top:0%;
		margin-bottom: 5%;
		font-size: 150%;
	}

	.author > h1{
		font-size: 250%;
		margin-bottom: 0%;
	}
	.logo > img {
		width: 30%;
		margin: 20% auto auto auto;
		float: left;
	}

	.main-project-container {
		width: 100%;
		margin-top: auto;
		display: flex;
		order: 4;
	}
	.main-body-container {
		width: 100%;
		display: flex;
		background-color: beige;
	}
	.project.info.first {
		max-width: 33.3%;
		margin: auto 2% auto 0%;
		overflow-wrap: break-word;
	}

	.project.info.second {
		max-width: 33.3%;
		margin: auto;
		overflow-wrap: break-word;
	}

	.project.info.third {
		max-width: 33.3%;
		margin: auto 0% auto 2%;
		overflow-wrap: break-word;
	}

	.project > img {
		max-width: 100%;

	}

	.project > p , h2 {
		text-align: center;
		margin:1%;
	}

	.featured {
		float: left;
		width: 100%;
		order: 2;
	}

	.featured.works > h2{
		text-align:left;
	}
	
	.portfolio-image {
	    margin-top: 3%;
	    width: 100%;
	}

	.portfolio-image > img {
		width: 100%;
	}

	hr {
		border: 2px solid #7d97ad;
		width: 99.5%;
	}
}
